<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jky.qqbot.mapper.DynamicSqlMapper">

<select id="query" resultType="com.jky.qqbot.model.MdKVModel">
    select ${colKey} as nodeKey ,${colVal} as nodeVal,${parentCol} as parentId
    from ${entityName} where 1=1
    <if test="parentId != null and parentId != '' and parentCol!=null and parentCol!=''">
        and ${parentCol} = ${parentId}
    </if>
</select>
</mapper>
