name: Deploy to K3s

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build with Maven
        run: mvn clean package -DskipTests=true

      - name: Docker Build and Push
        run: |
          docker build --platform=linux/amd64 -t oneadm/qq-bot:1.0 --push .
      - name: Install kubectl
        uses: bitnami/kubectl
        with:
          install-kubectl: true

      - name: Configure kubectl
        uses: steebchen/kubectl@v2.0.0
        run: |
          config set-cluster k3s --server=https://119.91.222.75:6443 --insecure-skip-tls-verify=true
          config set-credentials  k3s -
          config set-context k3s --cluster=k3s --user=k3s
          config use-context k3s

      - name: Apply Kubernetes manifests
        uses: bitnami/kubectl
        run: |
          apply -f ./Kubernetes-dev.yaml
          delete -f ./Kubernetes-dev.yaml
          apply -f ./Kubernetes-dev.yaml
